<aside>
    <div>
        <h3>Aktuelle Meldungen</h3>
        <ul>
            <li>
                <p>Meldung 1</p>
                <p>Datum: 11.04.2019</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
                <p>Meldung 2</p>
                <p>Datum: 11.04.2019</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
        </ul>
    </div>
</aside>