body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
    display: grid;
    grid-template-areas:    "header header"
                            "nav nav"
                            "main aside"
                            "footer footer";
}
header{
    grid-area: header;
    display: grid;
    grid-template-areas: "img h1";
    justify-content: center;
}
header img{
    grid-area: img;
}
header h1{
    grid-area: h1;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em; 
}
.container{
    display: grid;
    grid-template-areas: "info bild";
}
#info{
    grid-area: info;
}
#bildprof{
    grid-area: bild;
}
.container img{
    width: 80%;
    height: auto;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
    text-align: center;
}
@media (max-width: 768px) {
    body{
        grid-template-areas:
                        "header header" 
                        "nav nav"
                        "main main"
                        "aside aside"
                        "footer footer";
    }
}
@media (max-width: 580px) {
   .container{
    grid-template-areas: "info"
                         "bild";
   }
}